* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:1px solid red;
}

body {
  font-family: "Raleway", sans-serif;
}

section {
  max-width: 1200px;
  clear:both;
  margin: auto;
  padding:0 10px;
  overflow:hidden;
  float:left;
}

.col {  
  float: left;
  width: 32%;
  position: relative;
  margin: 1% 1% 1% 0;
}
.col:last child{
  margin:0;
}

.col p {
  padding:20px;
}


/* Desktop size */
@media (min-width: 992px) {
  .col {
    min-height:175px;
  }
  

/* Tablet size */
@media (min-width: 768px) and (max-width: 991px) {

  .col {
    width: 49%;
  }

  .chicken, .beef {
    min-height:180px;
  }

  .beef {
    float:right;
    margin-right:0;
  }

  .shrimp {
    width: 100%;
    margin-top:0;
  }

}

/* Mobile size */
@media (max-width: 767px) {
  .col {
   width: 100%;
  }
}